
/* For desktop */

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

nav ul {
  position: absolute;
  right: 24px;
}

nav ul li {
  display: inline;
  list-style-type: none;
}

nav .mobile-nav {
  display: none;
}

.colored-container {
  background-color: #3f6396; /* For browsers that do not support gradients*/
  background: -webkit-linear-gradient(left top, darkturquoise, #3f6396); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, darkturquoise, #3f6396); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, darkturquoise, #3f6396); /* Standard syntax */
  color: white;
}

header {
  display: inline-flex;
  height: 64px;
  padding-right: 24px;
}

header ul li {
  list-style-type: none;
}

header h4 {
  text-transform: uppercase;
}

/* Banner section */

#banner {
  display: flex;
  background-color: #3f6396; /* For browsers that do not support gradients*/
  background: -webkit-linear-gradient(left top, darkturquoise, #3f6396); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, darkturquoise, #3f6396); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, darkturquoise, #3f6396); /* Standard syntax */
  color: white;
}

#banner img {
  width: 60%;
  height: 100%;
  margin: 32px 12px;
  margin-left: 24px;
}

#banner-text {
  width: 300px;
  margin: 32px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

#banner button {
  background-color: #ffc509;
  border: none;
  cursor: pointer;
  padding-top: 8px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 8px;
  font-size: 16px;
}

/* Information section */

#information {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 24px;
  color: #92969b;
}

#figure {
  padding-top: 16px;
  width: 100%;
}

#information figure {
  margin: 0;
}

#information img {
  width: 100%;
  height: 100%;
  display: block;
}

.box-right {
  display: flex;
}

.container-right .box-right img {
  width: 35%;
  display: inline;
  padding: 16px;
}

.container-right .box-right a {
  text-decoration: none;
}

.container-right .box-right .text-right {
  width: 65%;
}

/* Start learning section */

#learn {
  background-color: #3f6396;
}

#learn img {
  height: auto;
  width: 100%;
}

#learn h2 {
  padding-top: 32px;
  text-align: center;
  display: block;
}

#learn-elements {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 56px;
}

#learn-elements .learn-box {
  margin: 16px;
  width: 30%;
  display: inline;
  background-color: white;
  color: #92969b;
}

#learn-elements .learn-box .course-description {
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 24px;
  padding-right: 16px;
}

h5.course-description {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* Thesis exhibit section */

#thesis-elements {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 24px;
  color: #92969b;
}

#container-bottom h2 {
  padding-top: 32px;
  text-align: center;
  display: block;
  color: #92969b;
}

#container-video {
  width: 60%;
}


/* Footer */

footer {
  display: inline-flex;
  color: #92969b;
}

#copyright {
  text-align: left;
  display: flex;
}

footer ul {
  position: absolute;
  right: 24px;
}

footer ul li {
  right: 10px;
  list-style-type: none;
  display: inline;
}



/* For mobile phones */

@media only screen and (max-width: 600px) {

header {
  height: 64px;
}

header h4, ul {
    display: none;
  }

header img .mobile-nav {
  display: flex;
}

  #banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #3f6396; /* For browsers that do not support gradients*/
    background: -webkit-linear-gradient(left top, darkturquoise, #3f6396); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, darkturquoise, #3f6396); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, darkturquoise, #3f6396); /* Standard syntax */
    color: white;
  }

#banner img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

#banner-text {
    width: 60%;
    margin: 32px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  #banner button {
    background-color: #ffc509;
    border: none;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
  }

#figure {
  display: none;
}

.box-right {
  display: block;
}

.container-right .box-right img {
  height: 50%;
  padding: 16px;
  padding-left: 0;
}

#learn-elements {
  display: block;
}

#learn-elements .learn-box {
  margin-bottom: 8px;
}

#learn-elements .learn-box img, h5, p {
  display: none;
}

#learn-elements .course-description h3 {
  background-color: lightgray;
  padding-top: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
}

#thesis-elements {
  display: block;
  color: #92969b;
}

#container-bottom h2 {
  padding-top: 32px;
  padding-bottom: 16px;
  text-align: center;
  display: block;
  color: #92969b;
}

#container-video {
  width: 100%;
}

#container-video h3 {
  display: none;
}

#container-bottom .container-right {
  display: none;
}

}

}
